*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background-color:#e9ebee;
}
.Container{
    margin: 0 auto;
    display: flex;
}
.FB_icon{
    width: 200px;
}
h2{
    font-size: 35px;
    color: #333;
    padding-left: 20px;
}
p{
    margin-top: 10px;
    color: #606770;
    padding-left: 20px;
}
.title{
    margin-top: 100px;
    margin-right: 300px;
}
.Login_div{
    width: 400px;
    height: 370px;
    border-color: white;
    border-radius: 10px;
    background-color: white;
    margin-top: 140px;


}
.box_and_info{
    display: block;
}
.create_page{
    padding-left: 50px;
    color: black;
}
.Email_input{
    margin-left: 25px;
    margin-top: 25px;
    width: 330px;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 10px;
    border-color: white;
}
.password_input{
    display: block;
    width: 330px;
    height: 50px;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 15px;
    font-size: 15px;
    padding-left: 10px;
    border-color: white;
}
.button_login{
    width: 330px;
    height: 50px;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 15px;
    color: white;
    background-color: #1877f2;
    font-size: 20px;
    border-color: #1877f2;

}
.forgot_password{
    color:#1877f2;
    font-size: 18px;
    padding-left: 135px;
    padding-top: 5px;
}
.hr{
    margin-top: 20px;
    width: 350px;
    margin-left: 25px;
}
.Create_account{
    height: 50px;
    width: 180px;
    border-radius: 5px;
    background-color: green;
    border-color: green;
    color: white;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 25px;
}
.account_card{
    width: 160px;
    height: 210px;
    background-color:white;
    border-radius: 5px;
    margin-top: 10px;
}
.account_img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 160px;
}
.account_Name{
    padding-left: 60px;
    font-size: 20px;
    padding-top: 6px;
}
.account_cards{
    display: flex;
    gap: 20px;
}